.file-gallery-container {
  margin: 20px;
}

.goBackButton {
  color: white;
    background: #f300a8;
    padding: 10px 10px 5px 10px;
    border-radius: 50%;
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.file-item {
  width: 100%;
  box-sizing: border-box;
}

.file-item img {
  width: 100%;
  height: auto;
}