.user-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vh; */
    height: 100%;
    background-color: rgb(241, 241, 241);
}

.user-name {
    font-size: 2.5em;
}

.logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(237, 237, 237);
    text-transform: uppercase;
    border-radius: 50px;
    height: 20px;
    width: 60px;
    background-color: black;
    margin-top: -30px;
    font-size: 10px;
}

.logout-btn:hover {
    color: orange;
}

.create-folder-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: black;
    color: white;
    text-transform: uppercase;
    height: 50px;
    width: 185px;
    border-radius: 50px;
    margin-top: .7rem;
}

.create-folder-btn:hover {
    background-color: rgb(1, 255, 247);
    color: rgb(7, 7, 7);
  }

