.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vh; */
    height: 100%;
    background-color: rgb(241, 241, 241);
}

.nav-bar {
    display: flex;
    width: 100%;
    justify-content: end;
    background-color: rgb(241, 241, 241);
}

.logo {
    height: 2em;
    margin: 0.7em;
    border-radius: 5px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px; 
    padding-top: 30%;
}

.input-field {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: .8em;
    color: #4c4a4c;
    padding: 3% 5% 3% 5%;
    margin-top: .7rem;
}

.login-btn {
    padding: .8% 4% .8% 4%;
    background-color: black;
    color: white;
    border: 2.5px solid black;
    border-radius: 5px;
    margin-left: 15px; 
    margin-top: .7rem;
}

.login-btn:hover {
    background-color: rgb(255, 1, 196);
    color: rgb(255, 255, 255);
    border: 2.5px solid rgb(255, 1, 196);
  }

.recover-password-link {
    font-size: 10px;
    text-decoration: none;
    color: blue;
}

.footer {
    display: block;
}

.footer h3 {
    color: #343234;
    font-size: 18px;
}

.build-team {
    text-decoration: none;
    font-size: 9px;
    color: rgb(0, 0, 91);
    margin-left: 1em;
    margin-right: 1em;
}

.build-team:hover {
    text-decoration: line-through;
    font-size: 9px;
    color: rgb(97, 3, 68);
}