.login {
    font-family: 'Genos', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vh; */
    height: 100%;
    background-color: rgb(241, 241, 241);
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px; 
    padding-top: 30%;
}

.input-field {
    width: 280px;
    height: 16px;
    border-radius: 50px;
    text-align: center;
    font-size: .9em;
    color: #4c4a4c;
    margin-top: .7rem;
}

.next-btn {
    font-family: 'Genos', sans-serif;
    padding: .8% 4% .8% 4%;
    background-color: black;
    color: white;
    border: 2.5px solid black;
    border-radius: 5px;
    margin-left: 15px; 
    margin-top: .7rem;
}

.next-btn:hover {
    background-color: rgb(255, 1, 196);
    color: rgb(255, 255, 255);
    border: 2.5px solid rgb(255, 1, 196);
  }

.recover-password-link {
    font-size: 10px;
    text-decoration: none;
    color: blue;
}

.creators {
    display: block;
    position: fixed;
    bottom: 20px; 
}

.creators h3 {
    color: #343234;
    font-size: 18px;
}

.build-team {
    text-decoration: none;
    font-size: 12px;
    color: rgb(0, 0, 91);

}

.build-team:hover {
    text-decoration: line-through;
    font-size: 9px;
    color: rgb(97, 3, 68);
}