.recover {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vh; */
    height: 100%;
    background-color: rgb(241, 241, 241);
}

.nav-bar {
    display: flex;
    width: 100%;
    justify-content: end;
    background-color: rgb(241, 241, 241);
}

.logo {
    height: 2em;
    margin: 0.7em;
    border-radius: 5px;
}

p {
    color:#343234;
    font-size: 14px;
    margin: 0 1.5rem;
}

.recover-form {
    display: flex;
    flex-direction: column;
    width: 300px; 
    padding-top: 10%;
}

.input-field {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: .8em;
    color: #4c4a4c;
    padding: 3% 5% 3% 5%;
    margin-top: .7rem;
}

.send-btn {
    padding: .8% 4% .8% 4%;
    background-color: black;
    color: white;
    border: 2.5px solid black;
    border-radius: 5px;
    margin-left: 15px; 
    margin-top: .7rem;
}

.send-btn:hover {
    background-color: rgb(1, 128, 255);
    color: rgb(255, 255, 255);
    border: 2.5px solid rgb(1, 128, 255);
  }

.go-back-btn {
    font-size: 12px;
    text-decoration: none;
    color: blue;
}

.margin-p {
    margin-top: 3rem;
}

