body {
  animation: changeBackground 500s infinite; /* Change s to the desired duration of each background */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@keyframes changeBackground {
  0%, 100% {
    background-image: url('src/assets/bg/bg_01.png');
  }
  15% {
    background-image: url('src/assets/bg/bg_02.png');
  }
  30% {
    background-image: url('src/assets/bg/bg_03.png');
  }
  50% {
    background-image: url('src/assets/bg/bg_04.png');
  }
  75% {
    background-image: url('src/assets/bg/bg_05.png');
  }
  80% {
    background-image: url('src/assets/bg/bg_06.png');
  }
}

#root {
  
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  border-radius: 10px;
  margin-top: 60%;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #868686aa);
}



.card {
  padding: 2em;
}

.footer{
  display: flex;
  justify-content: space-around;
}

.btn-primary {
  
  text-transform: uppercase;
  border-radius: 5px;
}

.login {
  padding: 1% 11% 1% 11%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 0.8px solid black;
}

.register {
  padding: 1% 10% 1% 10%;
  background-color: black;
  color: white;
}

  
    

.read-the-docs {
  color: #888;
}
